{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}To-Do List App{% endblock %}</title>
</head>
<body>
    <header>
        <h1><em> Welcome To The 'To-Do List' Web App <em /></h1>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
    <br /> 
        <p>&copy; Sandisile 2024 To-Do List App</p>
    </footer>
</body>
</html>

